.wrapper {
    width: 14rem;
    height: 8rem;

    background-color: var(--rose-200);

    margin-top: -3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.wrapper:active {
    transform: scale(1.1);
}

.wrapper span {
    color: var(--indigo-800);

    font-size: 4rem;
}